{% for d in documents %}
<div
	class="flex flex-col gap-4 p-4 rounded-xl shadow-lg bg-white hover:shadow-xl transition-shadow duration-300 cursor-pointer relative"
>
	<div class="absolute top-5 right-5">
		<a href="{{ d.source.url }}" target="_blank">
			<img
				src="{{ url_for('static', filename='ui/export.svg') }}"
				class="w-6 h-6 fill-blue-500 click"
			/>
		</a>
	</div>

	<div class="flex items-center justify-start gap-10 h-60">
		<div class="w-56 h-36 overflow-hidden rounded-lg bg-gray-200">
			<img
				src="{{ d.metadata.images[0] }}"
				alt="{{ d.metadata.title }} thumbnail"
				class="w-full h-full object-cover"
			/>
		</div>

		<div class="flex h-full flex-col grow items-start justify-evenly">
			<h3 class="text-lg font-semibold text-gray-900">
				{{ d.metadata.title }}
			</h3>

			<div class="flex flex-row justify-start items-center gap-4">
				<div
					class="bg-gray-700 shadow-xl flex items-center justify-center rounded-2xl py-1 px-2"
				>
					<p class="text-sm text-white space-y-1">
						{{ d.metadata.author }}
					</p>
				</div>

				<div
					class="bg-gray-700 shadow-xl flex items-center justify-center rounded-2xl py-1 px-2"
				>
					<p class="text-sm text-white space-y-1">
						{{ d.metadata.status }}
					</p>
				</div>

				<div
					class="bg-gray-700 shadow-xl flex items-center justify-center rounded-2xl py-1 px-2"
				>
					<p class="text-sm text-white space-y-1">
						{{ d.metadata.category }}
					</p>
				</div>
			</div>

			<div class="w-full flex items-center justify-start gap-2">
				{% if d.metadata.platforms is iterable and d.metadata is not
				string %} {% for p in d.metadata.platforms %} {% if p ==
				"windows" %}
				<img
					src="{{ url_for('static', filename='platforms/windows.svg') }}"
					class="w-6 h-6 fill-gray-500"
				/>
				{% elif p == "linux" %}
				<img
					src="{{ url_for('static', filename='platforms/linux.svg') }}"
					class="w-6 h-6 fill-gray-500"
				/>
				{% elif p == "macos" %}
				<img
					src="{{ url_for('static', filename='platforms/apple.svg') }}"
					class="w-6 h-6 fill-gray-500"
				/>
				{% elif p == "ios" %}
				<img
					src="{{ url_for('static', filename='platforms/apple.svg') }}"
					class="w-6 h-6 fill-gray-500"
				/>
				{% endif %} {% endfor %} {% endif %}
			</div>
		</div>
	</div>

	<div class="w-full px-4 overflow-hidden h-80">
		{{ d.metadata.description | safe }}
	</div>
</div>
{% endfor %}
