@import 'tailwindcss';

.filter-label {
	@apply font-medium text-lg text-black;
}

.click {
	@apply transition-transform duration-125;
}

.click:active {
	@apply scale-80;
}

.click-xs {
	@apply transition-transform duration-125;
}

.click-xs:active {
	@apply scale-95;
}

.highlight-match {
	@apply bg-yellow-200 text-black;
}

.not-completed {
	@apply border-2 border-blue-500;
}
.completed {
	@apply border-2 border-green-500;
}
.failed {
	@apply border-2 border-red-500;
}

@theme {
	--color-primary-blue: #1c398e;
}
