@import 'tailwindcss';

.filter-label {
	@apply font-medium text-lg text-black;
}

.click {
	@apply transition-transform duration-125;
}

.click:active {
	@apply scale-80;
}

.highlight-match {
	@apply bg-yellow-200 text-black;
}

@theme {
	--color-primary-blue: #1c398e;
}
