body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

.container-wrapper {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 50%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.card {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	background: #f9f9f9;
}

.card-title {
	margin: 0 0 10px 0;
	color: #333;
}

.card-description {
	margin: 0;
	color: #666;
}
