<!DOCTYPE html>
<html>
	<head>
		<title>SGames</title>

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='output.css') }}"
		/>

		<link
			rel="icon"
			href="{{ url_for('static', filename='gameboy-white.svg') }}"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			href="{{ url_for('static', filename='gameboy-dark.svg') }}"
			media="(prefers-color-scheme: dark)"
		/>
		<link
			rel="icon"
			href="{{ url_for('static', filename='gameboy-white.svg') }}"
		/>

		<script
			defer
			src="{{ url_for('static', filename='client.js') }}"
		></script>
		<script
			defer
			src="{{ url_for('static', filename='filters.js') }}"
		></script>
		<script
			defer
			src="{{ url_for('static', filename='highlight.js') }}"
		></script>
		<script
			defer
			src="{{ url_for('static', filename='challenge.js') }}"
		></script>

		<!-- Used in image card -->
		<script>
			const FALLBACK_IMAGE_URL =
				"{{ url_for('static', filename='ui/missing-thumbnail.svg') }}";
		</script>
	</head>

	<body class="bg-gray-100! py-14 px-2 flex items-center justify-center">
		<div
			class="w-screen min-h-screen px-4 lg:max-w-8/12 flex flex-col items-center justify-start gap-10 bg-gray-100!"
		>
			<div
				class="flex items-center justify-start gap-5 w-full sticky top-5 z-10"
			>
				<input
					id="search-input"
					type="text"
					placeholder="Search for Games…"
					onkeypress="search(event)"
					class="grow px-4 py-3 rounded-xl shadow-2xl border border-gray-500 text-lg focus:ring-2 focus:ring-blue-400 focus:outline-none bg-white"
				/>

				<button
					onclick="triggerSearch()"
					class="click p-3 rounded-xl bg-blue-900 hover:bg-blue-400 cursor-pointer transition-all shadow-md flex items-center justify-center"
				>
					<img
						src="{{ url_for('static', filename='ui/Magnifier.svg') }}"
						alt="search"
						class="w-6 h-6 invert"
					/>
				</button>
			</div>

			<div
				class="w-3/4 px-10 rounded-3xl shadow-md flex flex-col bg-white py-3 gap-6 z-0"
			>
				<!-- filters -->
				<div
					class="flex flex-row items-center justify-evenly flex-wrap gap-7 w-full"
				>
					<div
						class="min-w-44 flex flex-col gap-1 items-start justify-center"
					>
						<label class="filter-label">Platform</label>
						<select
							id="platformFilter"
							class="w-full cursor-pointer border-2 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
						>
							<option value="">Any</option>
							<option value="windows">Windows</option>
							<option value="mac">macOS</option>
							<option value="html5">HTML5</option>
							<option value="android">Android</option>
							<option value="ios">iOS</option>
						</select>
					</div>

					<div
						class="min-w-44 flex flex-col gap-1 items-start justify-center"
					>
						<label class="filter-label">Category</label>
						<select
							id="categoryFilter"
							class="w-full cursor-pointer border-2 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
						>
							<option value="">Any</option>
							<option value="action">Action</option>
							<option value="destruction">Destruction</option>
							<option value="zombies">Zombies</option>
							<option value="gambling">Gambling</option>
							<option value="free to play">Free to play</option>
							<option value="rpg">RPG</option>
							<option value="card game">Card Game</option>
							<option value="rougelike">Rougelike</option>
							<option value="strategy">Strategy</option>
							<option value="early access">Early Access</option>
							<option value="fps">FPS</option>
							<option value="multiplayer">Multiplayer</option>
							<option value="adventure">Adventure</option>
							<option value="platformer">Platformer</option>
							<option value="indie">Indie</option>
							<option value="puzzle">Puzzle</option>
							<option value="simulation">Simulation</option>
							<option value="mmorpg">MMORPG</option>
							<option value="open world">Open World</option>
							<option value="auto battler">Auto Battler</option>
						</select>
					</div>

					<div
						class="min-w-44 flex flex-col gap-1 items-start justify-center"
					>
						<label class="filter-label">Status</label>
						<select
							id="statusFilter"
							class="w-full cursor-pointer border-2 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
						>
							<option value="">Any</option>
							<option value="Published">Published</option>
							<option value="To Be Released">
								To Be Released
							</option>
						</select>
					</div>
				</div>

				<div
					class="flex flex-col items-center justify-center w-full gap-2"
				>
					<div
						class="w-full flex items-start justify-center sm:items-center sm:justify-start gap-1 sm:gap-6 flex-col sm:flex-row"
					>
						<label class="filter-label">Tags</label>
						<input
							type="text"
							id="tagInput"
							placeholder="Enter a tag and press Enter"
							class="border-2 rounded sm:w-64 px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
						/>
					</div>

					<div
						class="flex flex-wrap flex-row justify-start items-center w-full gap-4"
						id="tagContainer"
					></div>
				</div>

				<div class="flex items-center justify-center gap-5">
					<div
						id="flappy-bird-challenge-container"
						class="w-12 h-12 not-completed relative"
					>
						<img
							src="{{ url_for('static', filename='ui/flappy-bird.jpg') }}"
							alt="Flappy bird challenge"
							class="w-full h-full object-cover"
						/>

						<div
							id="flappy-bird-icon"
							class="w-3 h-3 absolute -bottom-1 -right-1 bg-white rounded-full"
						>
							<img
								src="{{ url_for('static', filename='ui/question-mark.svg') }}"
								alt="Free search challenge"
								class="w-full h-full object-cover"
							/>
						</div>
					</div>

					<div
						id="free-search-challenge-container"
						class="w-12 h-12 not-completed relative"
					>
						<img
							src="{{ url_for('static', filename='ui/free-search.svg') }}"
							alt="Free search challenge"
							class="w-full h-full object-cover"
						/>

						<div
							id="free-search-icon"
							class="w-3 h-3 absolute -bottom-1 -right-1 bg-white rounded-full"
						>
							<img
								src="{{ url_for('static', filename='ui/question-mark.svg') }}"
								alt="Free search challenge"
								class="w-full h-full object-cover"
							/>
						</div>
					</div>

					<div id="feedback-button-container" class="hidden">
						<a href="/feedback">
							<button
								class="text-white click py-2 px-4 rounded-sm bg-blue-900 hover:bg-blue-400 cursor-pointer transition-all shadow-md flex items-center justify-center"
							>
								Give Feedback
							</button>
						</a>
					</div>
				</div>
			</div>

			<div
				id="items-container"
				class="flex flex-col w-full gap-10 z-0"
			></div>
		</div>
	</body>
</html>
